/* ----- RESET ----- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/pexels-andrea-piacquadio-3769138.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

* {
    font-size: calc(2vmin + 15px);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}


/* ----- FONTS ----- */

* {
    font-family: 'Nova Square', cursive, sans-serif;
}


/* ----- HEADER ----- */

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

header ul h1 {
    font-family: 'Oleo Script', cursive;
    font-size: calc(3vmin + 30px);
    color: #fff;
    text-shadow: 5px 0 3px #000, 0 5px 3px #000, -5px 0 3px #000, 0 -5px 3px #000;
    text-align: center;
    white-space: nowrap;
}

header ul li:nth-child(3) {
    font-size: calc(1vmin + 15px);
    background-color: #fff;
    padding: 10px 25px;
    border: #000 solid 5px;
    border-radius: 10px;
}

header ul li:nth-child(3) p {
    font-size: calc(2vmin + 15px);
    background-color: #fff;
    text-align: center;
}

.start-btn {
    color: #000;
    font-weight: 700;
    border: #000 5px solid;
    border-radius: 10px;
    cursor: pointer;
    width: 175px;
    height: 70px;
}

.start-btn:hover {
    transform: scale(1.02);
    transition: .1s;
    text-shadow: 2px 0 3px #888, 0 2px 3px #888, -2px 0 3px #888, 0 -2px 3px #888;
}

.start-btn:active {
    text-shadow: 2px 0 3px #666, 0 2px 3px #666, -2px 0 3px #666, 0 -2px 3px #666;

}

/* ------ MAIN ------ */


section {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* ------ FLAG SECTION ------ */


.flag-container {
    background-color: #000;
    width: 50vw;
    max-width: 400px;
    max-height: 300px;
    min-height: 15vh;
    margin: 10px 0 50px;
    border: #000 solid 7px;
}

.flag-container img {
    width: 100%;
    height: 100%;
}

.flag-container p {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: calc(5vmin + 25px);
    color: #fff;
    text-align: center;
    font-weight: 700;
    animation: scaleVariation 1s infinite both;
}

/* ------ ANSWERS SECTION ------ */


.answers-container {
    background-color: #fff;
    width: 100vw;
    max-width: 1200px;
    border: #000 solid 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answers-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.answers-container h2 {
    margin: 25px 0;
    text-align: center;
}

.answers-container ul li {
    background-color: rgb(182, 182, 182);
    width: 60%;
    max-width: 400px;
    margin: 20px 50px;
    padding: 5px;
    cursor: pointer;
    transition: .2s;
    white-space: pre-wrap;
}

.answers-container ul li:hover {
    transform: scale(1.02);
    transition: .2s;
}

/* --------- DYNAMIC CLASSES --------- */

.good-answer {
    animation: growShrink 1s both;
    background-color: rgb(144, 189, 144)!important;

}

.wrong-answer {
    background-color: rgb(255, 187, 187)!important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}


/* ------- ANIMATIONS -------- */


@keyframes scaleVariation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.7);
    }
    100% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }
    
    20%, 80% {
      transform: translateX(2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
  
    40%, 60% {
      transform: translateX(4px);
    }
}

@keyframes growShrink {
    10%, 90% {
        transform: scale(.99);
    }
    
    20%, 80% {
        transform: scale(1.01);
    }
  
    30%, 50%, 70% {
        transform: scale(.97);
    }
  
    40%, 60% {
        transform: scale(1.03);
    }
}


/* ---------- MEDIA QUERIES ----------*/

@media (max-width: 1013px) {
    .answers-container ul li {
        margin: 5px;
    }

    .start-btn {
        width: 120px;
        height: 50px;
    }
}

@media (max-width: 509px) {
    header ul {
        flex-wrap: wrap;
        margin: 0;
    }
    header ul li:nth-child(2) {
        display: none;
    }

    .flag-container {
        margin: 10px 0;
    }

    .answers-container h2 {
        margin: 5px 0;
    }
}